/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
  background: linear-gradient(0deg, black, #960000); }

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

#background-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed; }

.menu {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  width: 300px;
  height: auto;
  z-index: 900;
  border-radius: 7px;
  padding: 30px 20px 30px 20px;
  font-size: 0.8em;
  overflow: hidden;
  left: 20px;
  bottom: 20px; }
  .menu .top-bar {
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: linear-gradient(0deg, #CACACA, #F3F3F3);
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #A4A4A4; }
    .menu .top-bar button.close-button {
      position: absolute;
      border: none;
      width: 20px;
      height: 20px;
      left: 0px;
      top: 0px;
      font-size: 0.8em;
      background: none; }
      @media (min-width: 480px) {
        .menu .top-bar button.close-button {
          font-size: 0.5em; } }
    .menu .top-bar p {
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
      margin-top: 3px; }
  .menu h1 {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 1.4em; }
  .menu h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em; }
  .menu .row {
    margin: 0; }
  .menu .block-group .col-xs-6 {
    background: rgba(0, 0, 0, 0.9);
    height: 30px;
    width: 45px;
    border-radius: 6px; }
  .menu .block-group .col-xs-6 button {
    width: 45px;
    height: 100%;
    border: none;
    margin-left: -15px;
    background: none; }
  .menu .block-group .col-xs-6 button.active {
    background: rgba(255, 226, 0, 0.2); }
  .menu .block-group .col-xs-6:nth-child(2) {
    margin-left: 10px; }
  .menu .row .col-xs-6 .shape-block-group-1 .col-xs-6:nth-child(1) {
    background-image: url("../images/geometry-block-1.png");
    background-size: cover; }
  .menu #geometry-color-picker {
    border-radius: 6px; }
  .menu .color-picker {
    border: none;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 0; }
  .menu #background-color-picker {
    display: none;
    border-radius: 6px; }
  .menu .background-gradient-picker-group {
    margin-bottom: 30px;
    margin-top: 0px; }
    .menu .background-gradient-picker-group .overlay {
      width: 106px;
      padding: 10px 20px 8px 20px;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      z-index: 10;
      text-align: center;
      color: rgba(255, 255, 255, 0.8); }
    .menu .background-gradient-picker-group .col-xs-3:nth-child(2), .menu .background-gradient-picker-group .col-xs-3:nth-child(4) {
      margin-left: 10px; }
    .menu .background-gradient-picker-group .col-xs-3 {
      width: 45px;
      margin: 0;
      padding: 0;
      border-radius: 6px; }
      .menu .background-gradient-picker-group .col-xs-3 input {
        top: 0px;
        position: relative;
        border-radius: 6px;
        width: 50px;
        height: 15px;
        border: none;
        font-size: 0; }
  .menu #background-speed-draggable {
    height: 30px;
    width: 100%;
    position: relative;
    z-index: 995;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 6px; }
    .menu #background-speed-draggable .noUi-handle {
      top: 1px; }
  .menu #shape-speed-draggable {
    height: 30px;
    width: 100%;
    position: relative;
    z-index: 995;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 6px; }
    .menu #shape-speed-draggable .noUi-handle {
      top: 1px; }
  .menu #credits a {
    color: rgba(0, 0, 0, 0.6); }

#wrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  /*.negative-layer-5 {
    .layer-1 {
      @include center;
      //animation-name: rotate;
      animation-duration: $negative-2-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-5-layer-size;
        height: $negative-5-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-5-layer-size;
        height: $negative-5-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      //animation-name: rotateOpposite;
      animation-duration: $negative-5-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-5-layer-size;
        height: $negative-5-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-5-layer-size;
        height: $negative-5-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
  }
  .negative-layer-4 {
    .layer-1 {
      @include center;
      animation-name: rotate;
      animation-duration: $negative-4-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-4-layer-size;
        height: $negative-4-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-4-layer-size;
        height: $negative-4-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $negative-4-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-4-layer-size;
        height: $negative-4-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-4-layer-size;
        height: $negative-4-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
  }
  .negative-layer-3 {
    .layer-1 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $negative-3-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-3-layer-size;
        height: $negative-3-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-3-layer-size;
        height: $negative-3-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotate;
      animation-duration: $negative-3-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-3-layer-size;
        height: $negative-3-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-3-layer-size;
        height: $negative-3-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
  }*/ }
  #wrapper .square-1, #wrapper .square-2 {
    border: 4px solid #ffffc8;
    opacity: 0.8; }
  #wrapper .negative-layer-2 .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .negative-layer-2 .layer-1 .square-1 {
      width: 1430px;
      height: 1430px;
      position: absolute; }
    #wrapper .negative-layer-2 .layer-1 .square-2 {
      width: 1430px;
      height: 1430px;
      transform: rotate(45deg); }
  #wrapper .negative-layer-2 .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .negative-layer-2 .layer-2 .square-1 {
      width: 1430px;
      height: 1430px;
      position: absolute; }
    #wrapper .negative-layer-2 .layer-2 .square-2 {
      width: 1430px;
      height: 1430px;
      transform: rotate(45deg); }
  #wrapper .negative-layer-1 .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .negative-layer-1 .layer-1 .square-1 {
      width: 1008px;
      height: 1008px;
      position: absolute; }
    #wrapper .negative-layer-1 .layer-1 .square-2 {
      width: 1008px;
      height: 1008px;
      transform: rotate(45deg); }
  #wrapper .negative-layer-1 .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .negative-layer-1 .layer-2 .square-1 {
      width: 1008px;
      height: 1008px;
      position: absolute; }
    #wrapper .negative-layer-1 .layer-2 .square-2 {
      width: 1008px;
      height: 1008px;
      transform: rotate(45deg); }
  #wrapper .zero-layer .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .zero-layer .layer-1 .square-1 {
      width: 710px;
      height: 710px;
      position: absolute; }
    #wrapper .zero-layer .layer-1 .square-2 {
      width: 710px;
      height: 710px;
      transform: rotate(45deg); }
  #wrapper .zero-layer .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .zero-layer .layer-2 .square-1 {
      width: 710px;
      height: 710px;
      position: absolute; }
    #wrapper .zero-layer .layer-2 .square-2 {
      width: 710px;
      height: 710px;
      transform: rotate(45deg); }
  #wrapper .first-layer .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .first-layer .layer-1 .square-1 {
      width: 500px;
      height: 500px;
      position: absolute; }
    #wrapper .first-layer .layer-1 .square-2 {
      width: 500px;
      height: 500px;
      transform: rotate(45deg); }
  #wrapper .first-layer .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .first-layer .layer-2 .square-1 {
      width: 500px;
      height: 500px;
      position: absolute; }
    #wrapper .first-layer .layer-2 .square-2 {
      width: 500px;
      height: 500px;
      transform: rotate(45deg); }
  #wrapper .second-layer .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 70s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .second-layer .layer-1 .square-1 {
      width: 350px;
      height: 350px;
      position: absolute; }
    #wrapper .second-layer .layer-1 .square-2 {
      width: 350px;
      height: 350px;
      transform: rotate(45deg); }
  #wrapper .second-layer .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 70s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .second-layer .layer-2 .square-1 {
      width: 350px;
      height: 350px;
      position: absolute; }
    #wrapper .second-layer .layer-2 .square-2 {
      width: 350px;
      height: 350px;
      transform: rotate(45deg); }
  #wrapper .third-layer .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 80s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .third-layer .layer-1 .square-1 {
      width: 245px;
      height: 245px;
      position: absolute; }
    #wrapper .third-layer .layer-1 .square-2 {
      width: 245px;
      height: 245px;
      transform: rotate(45deg); }
  #wrapper .third-layer .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 80s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .third-layer .layer-2 .square-1 {
      width: 245px;
      height: 245px;
      position: absolute; }
    #wrapper .third-layer .layer-2 .square-2 {
      width: 245px;
      height: 245px;
      transform: rotate(45deg); }
  #wrapper .fourth-layer .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 90s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .fourth-layer .layer-1 .square-1 {
      width: 170px;
      height: 170px;
      position: absolute; }
    #wrapper .fourth-layer .layer-1 .square-2 {
      width: 170px;
      height: 170px;
      transform: rotate(45deg); }
  #wrapper .fourth-layer .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 90s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .fourth-layer .layer-2 .square-1 {
      width: 170px;
      height: 170px;
      position: absolute; }
    #wrapper .fourth-layer .layer-2 .square-2 {
      width: 170px;
      height: 170px;
      transform: rotate(45deg); }
  #wrapper .fifth-layer .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .fifth-layer .layer-1 .square-1 {
      width: 115px;
      height: 115px;
      position: absolute; }
    #wrapper .fifth-layer .layer-1 .square-2 {
      width: 115px;
      height: 115px;
      transform: rotate(45deg); }
  #wrapper .fifth-layer .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .fifth-layer .layer-2 .square-1 {
      width: 115px;
      height: 115px;
      position: absolute; }
    #wrapper .fifth-layer .layer-2 .square-2 {
      width: 115px;
      height: 115px;
      transform: rotate(45deg); }
  #wrapper .sixth-layer .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 110s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .sixth-layer .layer-1 .square-1 {
      width: 75px;
      height: 75px;
      position: absolute; }
    #wrapper .sixth-layer .layer-1 .square-2 {
      width: 75px;
      height: 75px;
      transform: rotate(45deg); }
  #wrapper .sixth-layer .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 110s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .sixth-layer .layer-2 .square-1 {
      width: 75px;
      height: 75px;
      position: absolute; }
    #wrapper .sixth-layer .layer-2 .square-2 {
      width: 75px;
      height: 75px;
      transform: rotate(45deg); }
  #wrapper .seventh-layer .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .seventh-layer .layer-1 .square-1 {
      width: 50px;
      height: 50px;
      position: absolute; }
    #wrapper .seventh-layer .layer-1 .square-2 {
      width: 50px;
      height: 50px;
      transform: rotate(45deg); }
  #wrapper .seventh-layer .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .seventh-layer .layer-2 .square-1 {
      width: 50px;
      height: 50px;
      position: absolute; }
    #wrapper .seventh-layer .layer-2 .square-2 {
      width: 50px;
      height: 50px;
      transform: rotate(45deg); }
  #wrapper .eigth-layer .layer-1 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotate;
    animation-duration: 130s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .eigth-layer .layer-1 .square-1 {
      width: 30px;
      height: 30px;
      position: absolute; }
    #wrapper .eigth-layer .layer-1 .square-2 {
      width: 30px;
      height: 30px;
      transform: rotate(45deg); }
  #wrapper .eigth-layer .layer-2 {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation-name: rotateOpposite;
    animation-duration: 130s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    #wrapper .eigth-layer .layer-2 .square-1 {
      width: 30px;
      height: 30px;
      position: absolute; }
    #wrapper .eigth-layer .layer-2 .square-2 {
      width: 30px;
      height: 30px;
      transform: rotate(45deg); }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }
@keyframes rotateOpposite {
  0% {
    transform: translate(-50%, -50%) rotate(360deg); }
  100% {
    transform: translate(-50%, -50%) rotate(0deg); } }
#overlay-message {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1010;
  display: none;
  vertical-align: middle; }
  #overlay-message p {
    color: #ffffc8;
    font-size: 4em;
    position: fixed;
    display: block;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: "Noto Sans", sans-serif;
    top: 50%;
    left: 50%; }
    @media (min-width: 480px) {
      #overlay-message p {
        font-size: 5em; } }

#overlay-button {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1002;
  pointer-events: none; }

/*# sourceMappingURL=main.css.map */
