@import "_reset.scss";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

// Device Dimensions
$xsmall-device: 480px;

// Global Settings
$gradientBg: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 50, 1));
$blackBg: rgba(0, 0, 0, 1);
$gradientBg2: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(150, 0, 0, 1));

// Squares Of Life
// Styles
$defaultSettings: 4px solid rgba(255, 255, 200, 1);

// Sizes
$negative-5-layer-size: 1430px;
$negative-4-layer-size: 2865px;
$negative-3-layer-size: 2025px;
$negative-2-layer-size: 1430px;
$negative-1-layer-size: 1008px;
$zero-layer-size: 710px;
$first-layer-size: 500px;
$second-layer-size: 350px;
$third-layer-size: 245px;
$fourth-layer-size: 170px;
$fifth-layer-size: 115px;
$sixth-layer-size: 75px;
$seventh-layer-size: 50px;
$eigth-layer-size: 30px;

// Speeds
$negative-5-layer-speed: 125s;
$negative-4-layer-speed: 125s;
$negative-3-layer-speed: 125s;
$negative-2-layer-speed: 125s;
$negative-1-layer-speed: 125s;
$zero-layer-speed: 125s;
$first-layer-speed: 125s;
$second-layer-speed: 125s;
$third-layer-speed: 125s;
$fourth-layer-speed: 125s;
$fifth-layer-speed: 125s;
$sixth-layer-speed: 125s;
$seventh-layer-speed: 125s;
$eigth-layer-speed: 125s;
// 130s = 50


// Flower Of Life
// Styles
$circleSize: 800px;
$circleBorderRadius: $circleSize / 2;
$borderStyle: 4px solid white;
$zoom: 1.5;

// Speed
$layer-1-speed: 300s;
$layer-2-speed: 300s;
$layer-3-speed: 300s;
$layer-4-speed: 290s;
$layer-5-speed: 290s;
$layer-6-speed: 290s;
$layer-7-speed: 290s;
$layer-8-speed: 290s;
$layer-9-speed: 290s;



@mixin circleFormat {
  width: $circleSize;
  height: $circleSize;
  border-radius: $circleBorderRadius;
  border: $borderStyle;
}

@mixin animationRight {
  animation-name: flowerOfLifeRotateRight;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@mixin animationLeft {
  animation-name: flowerOfLifeRotateLeft;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@mixin center {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
  background: $gradientBg2;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}


//----------------------
//  Background Gradient
//----------------------
#background-gradient {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

//----------------
//  Menu
//----------------
.menu {
	position: fixed;
	background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	width: 300px;
	height: auto;
	z-index: 900;
	border-radius: 7px;
	padding: 30px 20px 30px 20px;
	font-size: 0.8em;
	overflow-y: hidden;
  overflow-x: hidden;
  left: 20px;
  bottom: 20px;

  .top-bar {
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: linear-gradient(0deg, #CACACA, #F3F3F3);
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #A4A4A4;
    button.close-button {
      position: absolute;
      border: none;
      width: 20px;
      height: 20px;
      left: 0px;
      top: 0px;
      font-size: 0.8em;
      background: none;
      @media (min-width: $xsmall-device) {
        font-size: 0.5em;
      }
    }
    p {
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
      margin-top: 3px;
      font-size: 0.9em;
    }
  }

  #main-menu-slider {
    width: 900px;
    position: relative;
    margin: 0;
    padding: 0;
    left: -20px;
    height: 210px;
    
    // General Settings For Every Screen
    .screen {
      width: 300px;
      display: inline-block;
      float: left;
      height: 100%;
      padding: 20px;
      button.go-back-button {
        position: absolute;
        background: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 5px 9px 5px 9px;
        transition: background 0.25s ease-in-out;
      }
      button.go-back-button:hover {

      }
      .content {
          width: 100%;
          height: 100%;
        h2 {
          text-align: center;
          margin-left: -10px;
          font-size: 1.1em;
        }
      }
    }

    // Styles For Window Screen 1 (Main)
    .screen-1 {
      .main-menu-option {
        width: 100%;
        height: 57px;
        text-align: left;
        //border: 1px solid rgba(0, 0, 0, 0.1);
        //padding: 20px;
        //border-radius: 5px;
        //background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.1) 90%);
        button {
          width: 100%;
          height: 100%;
          border-radius: none !important;
          border: 1px solid rgba(0, 0, 0, 0.1);
          padding: 20px;
          font-size: 1.1em;
          font-weight: bold;
          text-align: left;
          background-color: transparent;
          //background: linear-gradient(180deg, transparent, rgba(242, 244, 239, 0.5));
          transition: background 0.25s ease-in-out;
          span {
            float: right;
            color: rgba(0, 0, 0, 0.5);
          }
        }
        button:nth-child(1) {
          border-top-right-radius: 7px;
          border-top-left-radius: 7px;
        }
        button:nth-child(3) {
          border-bottom-right-radius: 7px;
          border-bottom-left-radius: 7px;
        }
        button:hover {
          background: rgba(255, 255, 255, 0.2);
        }
        button:active {
          background: rgba(255, 255, 255, 0.4);
        }
      }
      #main-menu-option-1 {
        button {
          border-top: none;
          border-left: none;
          border-right: none;
        }
      }
      #main-menu-option-2 {
        button {
          border: none;
        }
      }
      #main-menu-option-3 {
        button {
          border-bottom: none;
          border-left: none;
          border-right: none;
        }
      }
    }
    .screen-2 {
      .content-layers {
        .layers {
          width: 100%;
          height: 110px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          background: rgba(0, 0, 0, 0.1);
          margin-top: 20px;
          overflow-y: scroll;
          .layer {
            height: 35px;
            width: 100%;
            background: rgba(255, 255, 255, 0.8);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding: 10px;
            i {
              color: rgba(0, 0, 0, 0.5);
            }
            span {
              float: right;
            }
          }
          .layer:hover {
            cursor: move;

          }
        }
        .layers-menu {
          margin-top: 10px;
          margin-left: 0px;
          width: 101%;
          button {
            background: none;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 5px;
            font-size: 0.8em;
            transition: background 0.25s ease-in-out;
          }
          button:hover {
            background: rgba(255, 255, 255, 0.4);
          }
          button:active {
            background: rgba(255, 255, 255, 0.8);
          }
          button:nth-child(2) {
            margin-left: 9px;
            margin-right: 9px;
          }
        }
      }
    }
    .screen-3 {
      
    }
  }

  .me {
    a {
      color: rgba(0, 0, 0, 0.5);
    }
    text-align: center;
  }

	h1 {
		text-align: center;
		line-height: 50px;
    font-weight: bold;
    font-size: 1.4em;
	}
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
  }
	.row {
		margin: 0;
	}

	.block-group .col-xs-6 {
		background: rgba(0, 0, 0, 0.9);
    height: 30px;
    width: 45px;
    border-radius: 6px;
	}

  .block-group .col-xs-6 button {
    width: 45px;
    height: 100%;
    border: none;
    margin-left: -15px;
    background: none;
  }

  .block-group .col-xs-6 button.active {
    background: rgba(255, 226, 0, 0.2);
    border: 2px solid rgba(204, 197, 1, 0.6);
    border-radius: 5px !important;
  }

  .block-group .col-xs-6:nth-child(2) {
    margin-left: 10px;
  }

  .row .col-xs-6 .shape-block-group-1 .col-xs-6:nth-child(1) {
    background-image: url("../images/geometry-block-1.png");
    background-size: cover;
  }

  .row .col-xs-6 .background-block-group .col-xs-6:nth-child(1) {
    background-image: url("../images/background-block-1.png");
    background-size: cover;
  }

  .row .col-xs-6 .background-block-group .col-xs-6:nth-child(2) {
    background-image: url("../images/background-block-2.png");
    background-size: cover;
  }

  #geometry-color-picker {
    border-radius: 6px;
  }

  .color-picker {
    border: none;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 0;
  }

  #background-color-picker {
    display: none;
    border-radius: 6px;
  }

  .background-gradient-picker-group {
    margin-bottom: 30px;
    margin-top: 0px;
    .col-xs-3:nth-child(2), .col-xs-3:nth-child(4) {
      margin-left: 10px;
    }
    .col-xs-3 {
      width: 45px;
      margin: 0;
      padding: 0;
      border-radius: 6px;
      input {
        top: 0px;
        position: relative;
        border-radius: 6px;
        width: 50px;
        height: 15px;
        border: none;
        font-size: 0;
      }
    }
  }



  /*#background-speed-draggable {
    height: 30px;
    width: 100%;
    position: relative;
    z-index: 995;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 6px;
    .noUi-handle {
      top: 1px;
      
    }
  }*/

  /*#shape-speed-draggable {
    height: 30px;
    width: 100%;
    position: relative;
    z-index: 995;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 6px;
    .noUi-handle {
      top: 1px;
    }
  }*/

  #credits {
    a {
      color: rgba(0, 0, 0, 0.6);
    }
  }

}

#editor {
  
}

//----------------
//  Geometry
//----------------
// Squares Of Life
#squares-wrapper {
  @include center;
  display: none;
  .square-1, .square-2 {
    border: $defaultSettings;
    opacity: 0.9;
  }
  .negative-layer-2 {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $negative-2-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-2-layer-size;
        height: $negative-2-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $negative-2-layer-size;
        height: $negative-2-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $negative-2-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-2-layer-size;
        height: $negative-2-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $negative-2-layer-size;
        height: $negative-2-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
  .negative-layer-1 {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $negative-1-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-1-layer-size;
        height: $negative-1-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $negative-1-layer-size;
        height: $negative-1-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $negative-1-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-1-layer-size;
        height: $negative-1-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $negative-1-layer-size;
        height: $negative-1-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
  .zero-layer {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $zero-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $zero-layer-size;
        height: $zero-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $zero-layer-size;
        height: $zero-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $zero-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $zero-layer-size;
        height: $zero-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $zero-layer-size;
        height: $zero-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
  .first-layer {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $first-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $first-layer-size;
        height: $first-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $first-layer-size;
        height: $first-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $first-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $first-layer-size;
        height: $first-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $first-layer-size;
        height: $first-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
  .second-layer {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $second-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $second-layer-size;
        height: $second-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $second-layer-size;
        height: $second-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $second-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $second-layer-size;
        height: $second-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $second-layer-size;
        height: $second-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
  .third-layer {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $third-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $third-layer-size;
        height: $third-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $third-layer-size;
        height: $third-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $third-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $third-layer-size;
        height: $third-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $third-layer-size;
        height: $third-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
  .fourth-layer {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $fourth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $fourth-layer-size;
        height: $fourth-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $fourth-layer-size;
        height: $fourth-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $fourth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $fourth-layer-size;
        height: $fourth-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $fourth-layer-size;
        height: $fourth-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
  .fifth-layer {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $fifth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $fifth-layer-size;
        height: $fifth-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $fifth-layer-size;
        height: $fifth-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $fifth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $fifth-layer-size;
        height: $fifth-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $fifth-layer-size;
        height: $fifth-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
  .sixth-layer {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $sixth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $sixth-layer-size;
        height: $sixth-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $sixth-layer-size;
        height: $sixth-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $sixth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $sixth-layer-size;
        height: $sixth-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $sixth-layer-size;
        height: $sixth-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
  .seventh-layer {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $seventh-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $seventh-layer-size;
        height: $seventh-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $seventh-layer-size;
        height: $seventh-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $seventh-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $seventh-layer-size;
        height: $seventh-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $seventh-layer-size;
        height: $seventh-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
  .eigth-layer {
    .layer-1 {
      @include center;
      animation-name: squaresOfLifeRotate;
      animation-duration: $eigth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $eigth-layer-size;
        height: $eigth-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $eigth-layer-size;
        height: $eigth-layer-size;
        
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: squaresOfLifeRotateOpposite;
      animation-duration: $eigth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $eigth-layer-size;
        height: $eigth-layer-size;
        
        position: absolute;
      }
      .square-2 {
        width: $eigth-layer-size;
        height: $eigth-layer-size;
        
        transform: rotate(45deg);
      }
    }
  }
}

// Flower Of Life (Circles)
.flower-wrapper {
  display: none;
  transform: translate(-50%, -50%) scale($zoom);
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.9;
  .circle {

  }
  .circle-center {
      @include center;
      @include circleFormat;
   }
  .circle-group-1 {
    @include center;
    @include animationRight;
    animation-duration: $layer-1-speed;
    .circle-top {
      @include center;
      @include circleFormat;
      margin-top: -50px;
    }
    .circle-right-top {
      @include center;
      @include circleFormat;
      margin-left: 45px;
      margin-top: -25px;
    }
    .circle-right-bottom {
      @include center;
      @include circleFormat;
      margin-left: 45px;
      margin-top: 25px;
    }
    .circle-bottom {
      @include center;
      @include circleFormat;
      margin-top: 50px;
    }
    .circle-left-bottom {
      @include center;
      @include circleFormat;
      margin-left: -45px;
      margin-top: 25px;
    }
    .circle-left-top {
      @include center;
      @include circleFormat;
      margin-left: -45px;
      margin-top: -25px;
    }
  }
  .circle-group-2 {
    @include center;
    @include animationLeft;
    animation-duration: $layer-2-speed;
    .circle-1 {
      @include center;
      @include circleFormat;
      margin-top: -76px;
      margin-left: 46px;
    }
    .circle-2 {
      @include center;
      @include circleFormat;
      margin-top: -0px;
      margin-left: 91px;
    }
    .circle-3 {
      @include center;
      @include circleFormat;
      margin-top: 77px;
      margin-left: 46px;
    }
    .circle-4 {
      @include center;
      @include circleFormat;
      margin-top: 77px;
      margin-left: -46px;
    }
    .circle-5 {
      @include center;
      @include circleFormat;
      margin-top: 0px;
      margin-left: -91px;
    }
    .circle-6 {
      @include center;
      @include circleFormat;
      margin-top: -76px;
      margin-left: -46px;
    }
  }
  .circle-group-3 {
    //display: none;
    @include center;
    @include animationRight;
    animation-duration: $layer-3-speed;
    .circle-1 {
      @include center;
      @include circleFormat;
      margin-top: -104px; 
    }
    .circle-2 {
      @include center;
      @include circleFormat;
      margin-top: -50px; 
      margin-left: 90px;
    }
    .circle-3 {
      @include center;
      @include circleFormat;
      margin-top: 52px; 
      margin-left: 90px;
    }
    .circle-4 {
      @include center;
      @include circleFormat;
      margin-top: 104px; 
    }
    .circle-5 {
      @include center;
      @include circleFormat;
      margin-top: 52px; 
      margin-left: -90px;
    }
    .circle-6 {
      @include center;
      @include circleFormat;
      margin-top: -50px; 
      margin-left: -90px;
    }
  }
  .circle-group-4 {
    @include center;
    @include animationLeft;
    animation-duration: $layer-4-speed;
    //display: none;
    .circle-1 {
      @include center;
      @include circleFormat;
      margin-top: -128px;
      margin-left: 45px;
    }
    .circle-2 {
      @include center;
      @include circleFormat;
      margin-top: -102px;
      margin-left: 90px;
    }
    .circle-3 {
      @include center;
      @include circleFormat;
      margin-top: -75px;
      margin-left: 138px;
    }
    .circle-4 {
      @include center;
      @include circleFormat;
      margin-top: -23px;
      margin-left: 138px;
    }
    .circle-5 {
      @include center;
      @include circleFormat;
      margin-top: 28px;
      margin-left: 138px;
    }
    .circle-6 {
      @include center;
      @include circleFormat;
      margin-top: 80px;
      margin-left: 134px;
    }
    .circle-7 {
      @include center;
      @include circleFormat;
      margin-top: 105px;
      margin-left: 90px;
    }
    .circle-8 {
      @include center;
      @include circleFormat;
      margin-top: 131px;
      margin-left: 44px;
    }
    .circle-9 {
      @include center;
      @include circleFormat;
      margin-top: 154px;
      margin-left: -5px;
    }
    .circle-10 {
      @include center;
      @include circleFormat;
      margin-top: 130px;
      margin-left: -48px;
    }
    .circle-11 {
      @include center;
      @include circleFormat;
      margin-top: 102px;
      margin-left: -94px;
    }
    .circle-12 {
      @include center;
      @include circleFormat;
      margin-top: 74px;
      margin-left: -139px;
    }
    .circle-13 {
      @include center;
      @include circleFormat;
      margin-top: 24px;
      margin-left: -137px;
    }
    .circle-14 {
      @include center;
      @include circleFormat;
      margin-top: -28px;
      margin-left: -138px;
    }
    .circle-15 {
      @include center;
      @include circleFormat;
      margin-top: -80px;
      margin-left: -135px;
    }
    .circle-16 {
      @include center;
      @include circleFormat;
      margin-top: -105px;
      margin-left: -90px;
    }
    .circle-17 {
      @include center;
      @include circleFormat;
      margin-top: -130px;
      margin-left: -43px;
    }
    .circle-18 {
      @include center;
      @include circleFormat;
      margin-top: -156px;
      margin-left: 0px;
    }
  }
  .circle-group-5 {
    @include center;
    @include animationRight;
    animation-duration: $layer-5-speed;
    //display: none;
    .circle-1 {
      @include center;
      @include circleFormat;
      margin-top: -208px;
      margin-left: 0px;
    }
    .circle-2 {
      @include center;
      @include circleFormat;
      margin-top: -182px;
      margin-left: 49px;
    }
    .circle-3 {
      @include center;
      @include circleFormat;
      margin-top: -155px;
      margin-left: 94px;
    }
    .circle-4 {
      @include center;
      @include circleFormat;
      margin-top: -127px;
      margin-left: 139px;
    }
    .circle-5 {
      @include center;
      @include circleFormat;
      margin-top: -99px;
      margin-left: 183px;
    }
    .circle-6 {
      @include center;
      @include circleFormat;
      margin-top: -50px;
      margin-left: 184px;
    }
    .circle-7 {
      @include center;
      @include circleFormat;
      margin-top: 5px;
      margin-left: 184px;
    }
    .circle-8 {
      @include center;
      @include circleFormat;
      margin-top: 55px;
      margin-left: 183px;
    }
    .circle-9 {
      @include center;
      @include circleFormat;
      margin-top: 109px;
      margin-left: 183px;
    }
    .circle-10 {
      @include center;
      @include circleFormat;
      margin-top: 132px;
      margin-left: 136px;
    }
    .circle-11 {
      @include center;
      @include circleFormat;
      margin-top: 158px;
      margin-left: 90px;
    }
    .circle-12 {
      @include center;
      @include circleFormat;
      margin-top: 183px;
      margin-left: 45px;
    }
    .circle-13 {
      @include center;
      @include circleFormat;
      margin-top: 210px;
      margin-left: 0px;
    }
    .circle-14 {
      @include center;
      @include circleFormat;
      margin-top: 181px;
      margin-left: -50px;
    }
    .circle-15 {
      @include center;
      @include circleFormat;
      margin-top: 158px;
      margin-left: -95px;
    }
    .circle-16 {
      @include center;
      @include circleFormat;
      margin-top: 129px;
      margin-left: -142px;
      //display: none;
    }
    .circle-17 {
      @include center;
      @include circleFormat;
      margin-top: 100px;
      margin-left: -185px;
      //display: none;
    }
    .circle-18 {
      @include center;
      @include circleFormat;
      margin-top: 47px;
      margin-left: -185px;
    }
    .circle-19 {
      @include center;
      @include circleFormat;
      margin-top: -3px;
      margin-left: -183px;
    }
    .circle-20 {
      @include center;
      @include circleFormat;
      margin-top: -56px;
      margin-left: -183px;
    }
    .circle-21 {
      @include center;
      @include circleFormat;
      margin-top: -107px;
      margin-left: -182px;
    }
    .circle-22 {
      @include center;
      @include circleFormat;
      margin-top: -132px;
      margin-left: -135px;
    }
    .circle-23 {
      @include center;
      @include circleFormat;
      margin-top: -155px;
      margin-left: -90px;
    }
    .circle-24 {
      @include center;
      @include circleFormat;
      margin-top: -183px;
      margin-left: -44px;
    }
  }
  .circle-group-6 {
    @include center;
    @include animationLeft;
    animation-duration: $layer-6-speed;
    //display: none;
    .circle-1 {
      @include center;
      @include circleFormat;
      margin-top: -260px;
    }
    .circle-2 {
      @include center;
      @include circleFormat;
      margin-top: -232px;
      margin-left: 50px;
    }
    .circle-3 {
      @include center;
      @include circleFormat;
      margin-top: -208px;
      margin-left: 94px;
    }
    .circle-4 {
      @include center;
      @include circleFormat;
      margin-top: -180px;
      margin-left: 140px;
    }
    .circle-5 {
      @include center;
      @include circleFormat;
      margin-top: -153px;
      margin-left: 183px;
    }
    .circle-6 {
      @include center;
      @include circleFormat;
      margin-top: -125px;
      margin-left: 230px;
    }
    .circle-7 {
      @include center;
      @include circleFormat;
      margin-top: -75px;
      margin-left: 230px;
    }
    .circle-8 {
      @include center;
      @include circleFormat;
      margin-top: -20px;
      margin-left: 230px;
    }
    .circle-9 {
      @include center;
      @include circleFormat;
      margin-top: 30px;
      margin-left: 230px;
    }
    .circle-10 {
      @include center;
      @include circleFormat;
      margin-top: 82px;
      margin-left: 228px;
    }
    .circle-11 {
      @include center;
      @include circleFormat;
      margin-top: 133px;
      margin-left: 225px;
    }
    .circle-12 {
      @include center;
      @include circleFormat;
      margin-top: 160px;
      margin-left: 180px;
    }
    .circle-13 {
      @include center;
      @include circleFormat;
      margin-top: 185px;
      margin-left: 134px;
    }
    .circle-14 {
      @include center;
      @include circleFormat;
      margin-top: 210px;
      margin-left: 88px;
    }
    .circle-15 {
      @include center;
      @include circleFormat;
      margin-top: 235px;
      margin-left: 42px;
    }
    .circle-16 {
      @include center;
      @include circleFormat;
      margin-top: 235px;
      margin-left: 42px;
    }
    .circle-17 {
      @include center;
      @include circleFormat;
      margin-top: 260px;
      margin-left: -5px;
    }
    .circle-18 {
      @include center;
      @include circleFormat;
      margin-top: 235px;
      margin-left: -50px;
    }
    .circle-19 {
      @include center;
      @include circleFormat;
      margin-top: 206px;
      margin-left: -95px;
    }
    .circle-20 {
      @include center;
      @include circleFormat;
      margin-top: 180px;
      margin-left: -140px;
    }
    .circle-21 {
      @include center;
      @include circleFormat;
      margin-top: 150px;
      margin-left: -185px;
    }
    .circle-22 {
      @include center;
      @include circleFormat;
      margin-top: 125px;
      margin-left: -233px;
    }
    .circle-23 {
      @include center;
      @include circleFormat;
      margin-top: 70px;
      margin-left: -233px;
    }
    .circle-24 {
      @include center;
      @include circleFormat;
      margin-top: 20px;
      margin-left: -230px;
    }
    .circle-25 {
      @include center;
      @include circleFormat;
      margin-top: -35px;
      margin-left: -230px;
    }
    .circle-26 {
      @include center;
      @include circleFormat;
      margin-top: -83px;
      margin-left: -226px;
    }
    .circle-27 {
      @include center;
      @include circleFormat;
      margin-top: -137px;
      margin-left: -226px;
    }
    .circle-28 {
      @include center;
      @include circleFormat;
      margin-top: -160px;
      margin-left: -180px;
    }
    .circle-29 {
      @include center;
      @include circleFormat;
      margin-top: -160px;
      margin-left: -180px;
    }
    .circle-30 {
      @include center;
      @include circleFormat;
      margin-top: -185px;
      margin-left: -133px;
    }
    .circle-31 {
      @include center;
      @include circleFormat;
      margin-top: -210px;
      margin-left: -90px;
    }
    .circle-32 {
      @include center;
      @include circleFormat;
      margin-top: -236px;
      margin-left: -43px;
    }
  }
  .circle-group-7 {
    @include center;
    @include animationRight;
    animation-duration: $layer-6-speed;
    //display: none;
    .circle-1 {
      @include center;
      @include circleFormat;
      margin-top: -312px;
    }
    .circle-2 {
      @include center;
      @include circleFormat;
      margin-top: -285px;
      margin-left: 50px;
    }
    .circle-3 {
      @include center;
      @include circleFormat;
      margin-top: -259px;
      margin-left: 93px;
    }
    .circle-4 {
      @include center;
      @include circleFormat;
      margin-top: -230px;
      margin-left: 143px;
    }
    .circle-5 {
      @include center;
      @include circleFormat;
      margin-top: -205px;
      margin-left: 187px;
    }
    .circle-6 {
      @include center;
      @include circleFormat;
      margin-top: -178px;
      margin-left: 233px;
    }
    .circle-7 {
      @include center;
      @include circleFormat;
      margin-top: -147px;
      margin-left: 278px;
    }
    .circle-8 {
      @include center;
      @include circleFormat;
      margin-top: -97px;
      margin-left: 278px;
    }
    .circle-9 {
      @include center;
      @include circleFormat;
      margin-top: -44px;
      margin-left: 278px;
    }
    .circle-10 {
      @include center;
      @include circleFormat;
      margin-top: 4px;
      margin-left: 278px;
    }
    .circle-11 {
      @include center;
      @include circleFormat;
      margin-top: 58px;
      margin-left: 278px;
    }
    .circle-12 {
      @include center;
      @include circleFormat;
      margin-top: 108px;
      margin-left: 275px;
    }
    .circle-13 {
      @include center;
      @include circleFormat;
      margin-top: 162px;
      margin-left: 274px;
    }
    .circle-14 {
      @include center;
      @include circleFormat;
      margin-top: 186px;
      margin-left: 227px;
    }
    .circle-15 {
      @include center;
      @include circleFormat;
      margin-top: 213px;
      margin-left: 181px;
    }
    .circle-16 {
      @include center;
      @include circleFormat;
      margin-top: 236px;
      margin-left: 135px;
    }
    .circle-17 {
      @include center;
      @include circleFormat;
      margin-top: 263px;
      margin-left: 90px;
    }
    .circle-18 {
      @include center;
      @include circleFormat;
      margin-top: 286px;
      margin-left: 42px;
    }
    // Center
    .circle-19 {
      @include center;
      @include circleFormat;
      margin-top: 312px;
    }
    .circle-20 {
      @include center;
      @include circleFormat;
      margin-top: 286px;
      margin-left: -50px;
    }
    .circle-21 {
      @include center;
      @include circleFormat;
      margin-top: 263px;
      margin-left: -95px;
    }
    .circle-22 {
      @include center;
      @include circleFormat;
      margin-top: 232px;
      margin-left: -140px;
    }
    .circle-23 {
      @include center;
      @include circleFormat;
      margin-top: 205px;
      margin-left: -186px;
    }
    .circle-24 {
      @include center;
      @include circleFormat;
      margin-top: 176px;
      margin-left: -233px;
    }
    .circle-25 {
      @include center;
      @include circleFormat;
      margin-top: 150px;
      margin-left: -278px;
    }
    .circle-26 {
      @include center;
      @include circleFormat;
      margin-top: 97px;
      margin-left: -278px;
    }
    .circle-27 {
      @include center;
      @include circleFormat;
      margin-top: 45px;
      margin-left: -278px;
    }
    .circle-28 {
      @include center;
      @include circleFormat;
      margin-top: -7px;
      margin-left: -278px;
    }
    .circle-29 {
      @include center;
      @include circleFormat;
      margin-top: -60px;
      margin-left: -275px;
    }
    .circle-30 {
      @include center;
      @include circleFormat;
      margin-top: -112px;
      margin-left: -275px;
    }
    .circle-31 {
      @include center;
      @include circleFormat;
      margin-top: -163px;
      margin-left: -270px;
    }
    .circle-32 {
      @include center;
      @include circleFormat;
      margin-top: -189px;
      margin-left: -224px;
    }
    .circle-33 {
      @include center;
      @include circleFormat;
      margin-top: -212px;
      margin-left: -178px;
    }
    .circle-34 {
      @include center;
      @include circleFormat;
      margin-top: -236px;
      margin-left: -133px;
    }
    .circle-35 {
      @include center;
      @include circleFormat;
      margin-top: -260px;
      margin-left: -88px;
    }
    .circle-36 {
      @include center;
      @include circleFormat;
      margin-top: -286px;
      margin-left: -42px;
    }
  }
  .circle-group-8 {
    @include center;
    @include animationLeft;
    animation-duration: $layer-8-speed;
    //display: none;
    .circle-1 {
      @include center;
      @include circleFormat;
      margin-top: -362px;
    }
    .circle-2 {
      @include center;
      @include circleFormat;
      margin-top: -335px;
      margin-left: 50px;
    }
    .circle-3 {
      @include center;
      @include circleFormat;
      margin-top: -309px;
      margin-left: 93px;
    }
    .circle-4 {
      @include center;
      @include circleFormat;
      margin-top: -280px;
      margin-left: 143px;
    }
    .circle-5 {
      @include center;
      @include circleFormat;
      margin-top: -255px;
      margin-left: 187px;
    }
    .circle-6 {
      @include center;
      @include circleFormat;
      margin-top: -228px;
      margin-left: 233px;
      //display: none;
    }
    .circle-7 {
      @include center;
      @include circleFormat;
      margin-top: -199px;
      margin-left: 278px;
      //display: none;
    }
    .circle-8 {
      @include center;
      @include circleFormat;
      margin-top: -170px;
      margin-left: 324px;
      //display: none;
    }
    .circle-9 {
      @include center;
      @include circleFormat;
      margin-top: -120px;
      margin-left: 324px;
      //display: none;
    }
    .circle-10 {
      @include center;
      @include circleFormat;
      margin-top: -70px;
      margin-left: 324px;
      //display: none;
    }
    .circle-11 {
      @include center;
      @include circleFormat;
      margin-top: -18px;
      margin-left: 320px;
    }
    .circle-12 {
      @include center;
      @include circleFormat;
      margin-top: 35px;
      margin-left: 320px;
    }
    .circle-13 {
      @include center;
      @include circleFormat;
      margin-top: 85px;
      margin-left: 320px;
    }
    .circle-14 {
      @include center;
      @include circleFormat;
      margin-top: 138px;
      margin-left: 318px;
    }
    .circle-15 {
      @include center;
      @include circleFormat;
      margin-top: 188px;
      margin-left: 317px;
    }
    .circle-16 {
      @include center;
      @include circleFormat;
      margin-top: 210px;
      margin-left: 272px;
    }
    .circle-17 {
      @include center;
      @include circleFormat;
      margin-top: 237px;
      margin-left: 227px;
    }
    .circle-18 {
      @include center;
      @include circleFormat;
      margin-top: 263px;
      margin-left: 182px;
    }
    .circle-19 {
      @include center;
      @include circleFormat;
      margin-top: 286px;
      margin-left: 136px;
    }
    .circle-20 {
      @include center;
      @include circleFormat;
      margin-top: 312px;
      margin-left: 90px;
    }
    .circle-21 {
      @include center;
      @include circleFormat;
      margin-top: 338px;
      margin-left: 45px;
    }
    // Bottom Center
    .circle-22 {
      @include center;
      @include circleFormat;
      margin-top: 365px;
      margin-left: 0px;
    }
    .circle-23 {
      @include center;
      @include circleFormat;
      margin-top: 338px;
      margin-left: -45px;
    }
    .circle-24 {
      @include center;
      @include circleFormat;
      margin-top: 312px;
      margin-left: -95px;
    }
    .circle-25 {
      @include center;
      @include circleFormat;
      margin-top: 282px;
      margin-left: -140px;
    }
    .circle-26 {
      @include center;
      @include circleFormat;
      margin-top: 253px;
      margin-left: -187px;
    }
    .circle-27 {
      @include center;
      @include circleFormat;
      margin-top: 230px;
      margin-left: -230px;
    }
    .circle-28 {
      @include center;
      @include circleFormat;
      margin-top: 200px;
      margin-left: -277px;
    }
    .circle-29 {
      @include center;
      @include circleFormat;
      margin-top: 175px;
      margin-left: -324px;
    }
    .circle-30 {
      @include center;
      @include circleFormat;
      margin-top: 123px;
      margin-left: -323px;
    }
    .circle-31 {
      @include center;
      @include circleFormat;
      margin-top: 75px;
      margin-left: -323px;
    }
    .circle-32 {
      @include center;
      @include circleFormat;
      margin-top: 18px;
      margin-left: -323px;
    }
    .circle-33 {
      @include center;
      @include circleFormat;
      margin-top: -29px;
      margin-left: -320px;
    }
    .circle-34 {
      @include center;
      @include circleFormat;
      margin-top: -85px;
      margin-left: -320px;
    }
    .circle-35 {
      @include center;
      @include circleFormat;
      margin-top: -135px;
      margin-left: -320px;
    }
    .circle-36 {
      @include center;
      @include circleFormat;
      margin-top: -188px;
      margin-left: -315px;
    }
    .circle-37 {
      @include center;
      @include circleFormat;
      margin-top: -213px;
      margin-left: -271px;
    }
    .circle-38 {
      @include center;
      @include circleFormat;
      margin-top: -240px;
      margin-left: -223px;
    }
     .circle-39 {
      @include center;
      @include circleFormat;
      margin-top: -262px;
      margin-left: -179px;
    }
    .circle-40 {
      @include center;
      @include circleFormat;
      margin-top: -290px;
      margin-left: -133px;
    }
    .circle-41 {
      @include center;
      @include circleFormat;
      margin-top: -312px;
      margin-left: -89px;
    }
    .circle-42 {
      @include center;
      @include circleFormat;
      margin-top: -339px;
      margin-left: -40px;
    }
  }
  .circle-group-9 {
    @include center;
    @include animationRight;
    animation-duration: $layer-9-speed;
    //display: none;
    .circle-1 {
      @include center;
      @include circleFormat;
      margin-top: -414px;
    }
    .circle-2 {
      @include center;
      @include circleFormat;
      margin-top: -388px;
      margin-left: 50px;
    }
    .circle-3 {
      @include center;
      @include circleFormat;
      margin-top: -360px;
      margin-left: 95px;
    }
    .circle-4 {
      @include center;
      @include circleFormat;
      margin-top: -335px;
      margin-left: 140px;
    }
    .circle-5 {
      @include center;
      @include circleFormat;
      margin-top: -310px;
      margin-left: 186px;
    }
    .circle-6 {
      @include center;
      @include circleFormat;
      margin-top: -280px;
      margin-left: 235px;
      //display: none;
    }
    .circle-7 {
      @include center;
      @include circleFormat;
      margin-top: -251px;
      margin-left: 278px;
      //display: none;
    }
    .circle-8 {
      @include center;
      @include circleFormat;
      margin-top: -223px;
      margin-left: 325px;
      //display: none;
    }
    .circle-9 {
      @include center;
      @include circleFormat;
      margin-top: -200px;
      margin-left: 370px;
      //display: none;
    }
    .circle-10 {
      @include center;
      @include circleFormat;
      margin-top: -150px;
      margin-left: 370px;
      //display: none;
    }
    .circle-11 {
      @include center;
      @include circleFormat;
      margin-top: -95px;
      margin-left: 370px;
    }
    .circle-12 {
      @include center;
      @include circleFormat;
      margin-top: -46px;
      margin-left: 370px;
    }
    .circle-13 {
      @include center;
      @include circleFormat;
      margin-top: 6px;
      margin-left: 370px;
    }
    .circle-14 {
      @include center;
      @include circleFormat;
      margin-top: 56px;
      margin-left: 367px;
    }
    .circle-15 {
      @include center;
      @include circleFormat;
      margin-top: 107px;
      margin-left: 367px;
    }
    .circle-16 {
      @include center;
      @include circleFormat;
      margin-top: 160px;
      margin-left: 365px;
    }
    .circle-17 {
      @include center;
      @include circleFormat;
      margin-top: 210px;
      margin-left: 365px;
    }
    .circle-18 {
      @include center;
      @include circleFormat;
      margin-top: 237px;
      margin-left: 318px;
    }
    .circle-19 {
      @include center;
      @include circleFormat;
      margin-top: 261px;
      margin-left: 273px;
    }
    .circle-20 {
      @include center;
      @include circleFormat;
      margin-top: 289px;
      margin-left: 227px;
    }
    .circle-21 {
      @include center;
      @include circleFormat;
      margin-top: 316px;
      margin-left: 182px;
    }
    // Bottom Center
    .circle-22 {
      @include center;
      @include circleFormat;
      margin-top: 338px;
      margin-left: 136px;
    }
    .circle-23 {
      @include center;
      @include circleFormat;
      margin-top: 367px;
      margin-left: 90px;
    }
    .circle-24 {
      @include center;
      @include circleFormat;
      margin-top: 388px;
      margin-left: 45px;
    }
    .circle-25 {
      @include center;
      @include circleFormat;
      margin-top: 414px;
      margin-left: -1px;
    }
    // LEFT HERE
    .circle-26 {
      @include center;
      @include circleFormat;
      margin-top: 389px;
      margin-left: -48px;
    }
    .circle-27 {
      @include center;
      @include circleFormat;
      margin-top: 365px;
      margin-left: -95px;
    }
    .circle-28 {
      @include center;
      @include circleFormat;
      margin-top: 335px;
      margin-left: -140px;
    }
    .circle-29 {
      @include center;
      @include circleFormat;
      margin-top: 310px;
      margin-left: -188px;
    }
    .circle-30 {
      @include center;
      @include circleFormat;
      margin-top: 280px;
      margin-left: -230px;
    }
    .circle-31 {
      @include center;
      @include circleFormat;
      margin-top: 253px;
      margin-left: -278px;
    }
    .circle-32 {
      @include center;
      @include circleFormat;
      margin-top: 227px;
      margin-left: -323px;
    }
    .circle-33 {
      @include center;
      @include circleFormat;
      margin-top: 200px;
      margin-left: -369px;
    }
    .circle-34 {
      @include center;
      @include circleFormat;
      margin-top: 150px;
      margin-left: -369px;
    }
    .circle-35 {
      @include center;
      @include circleFormat;
      margin-top: 97px;
      margin-left: -369px;
    }
    .circle-36 {
      @include center;
      @include circleFormat;
      margin-top: 47px;
      margin-left: -369px;
    }
    .circle-37 {
      @include center;
      @include circleFormat;
      margin-top: -07px;
      margin-left: -369px;
    }
    .circle-38 {
      @include center;
      @include circleFormat;
      margin-top: -57px;
      margin-left: -367px;
    }
     .circle-39 {
      @include center;
      @include circleFormat;
      margin-top: -111px;
      margin-left: -365px;
    }
    .circle-40 {
      @include center;
      @include circleFormat;
      margin-top: -160px;
      margin-left: -365px;
    }
    .circle-41 {
      @include center;
      @include circleFormat;
      margin-top: -213px;
      margin-left: -363px;
    }
    .circle-42 {
      @include center;
      @include circleFormat;
      margin-top: -238px;
      margin-left: -316px;
    }
    .circle-43 {
      @include center;
      @include circleFormat;
      margin-top: -264px;
      margin-left: -270px;
    }
    .circle-44 {
      @include center;
      @include circleFormat;
      margin-top: -290px;
      margin-left: -224px;
    }
    .circle-45 {
      @include center;
      @include circleFormat;
      margin-top: -316px;
      margin-left: -178px;
    }
    .circle-46 {
      @include center;
      @include circleFormat;
      margin-top: -340px;
      margin-left: -132px;
    }
    .circle-47 {
      @include center;
      @include circleFormat;
      margin-top: -362px;
      margin-left: -87px;
    }
    .circle-48 {
      @include center;
      @include circleFormat;
      margin-top: -389px;
      margin-left: -38px;
    }
  }
}

//----------------
//  Animations
//----------------
@keyframes squaresOfLifeRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes squaresOfLifeRotateOpposite {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes flowerOfLifeRotateRight {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes flowerOfLifeRotateLeft {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}


//----------------
//  Miscellaneous
//----------------

#overlay-message {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1010;
  display: none;
  vertical-align: middle;
  p {
    color: rgba(255, 255, 200, 1);
    font-size: 4em;
    position: fixed;
    display: block;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: "Noto Sans", sans-serif;
    top: 50%;
    left: 50%;
    @media (min-width: $xsmall-device) {
      font-size: 5em;
    }
  }
}

.overlay {
  width: 120px;
  margin-top: -30px;
  margin-left: -8px;
  padding: 65px 20px 65px 20px;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 2000;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  display: none !important;
}

.coming-soon-overlay {
  padding-top: 6px;
  font-size: 0.5em;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9);
}

#overlay-button {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1002;
  pointer-events: none;
}