@import "_reset.scss";

@mixin center {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

// Device Dimensions
$xsmall-device: 480px;

// Global Settings
$gradientBg: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 50, 1));
$blackBg: rgba(0, 0, 0, 1);
$gradientBg2: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(150, 0, 0, 1));
$appearance: 4px solid rgba(255, 255, 200, 0.8);
$defaultSettings: 4px solid rgba(255, 255, 200, 0.8) !important;

// Sizes
$negative-5-layer-size: 1430px;
$negative-4-layer-size: 2865px;
$negative-3-layer-size: 2025px;
$negative-2-layer-size: 1430px;
$negative-1-layer-size: 1008px;
$zero-layer-size: 710px;
$first-layer-size: 500px;
$second-layer-size: 350px;
$third-layer-size: 245px;
$fourth-layer-size: 170px;
$fifth-layer-size: 115px;
$sixth-layer-size: 75px;
$seventh-layer-size: 50px;
$eigth-layer-size: 30px;

// Speeds
$negative-5-layer-speed: 5s;
$negative-4-layer-speed: 10s;
$negative-3-layer-speed: 20s;
$negative-2-layer-speed: 30s;
$negative-1-layer-speed: 40s;
$zero-layer-speed: 50s;
$first-layer-speed: 60s;
$second-layer-speed: 70s;
$third-layer-speed: 80s;
$fourth-layer-speed: 90s;
$fifth-layer-speed: 100s;
$sixth-layer-speed: 110s;
$seventh-layer-speed: 120s;
$eigth-layer-speed: 130s;


html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
  background: $gradientBg2;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

//----------------
//  Menu
//----------------
.menu {
	position: fixed;
	background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
	width: 300px;
	height: auto;
	z-index: 900;
	border-radius: 7px;
	padding: 30px 20px 20px 20px;
	font-size: 0.8em;
	overflow: hidden;
  left: 20px;
  bottom: 20px;
  .top-bar {
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: linear-gradient(0deg, #CACACA, #F3F3F3);
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #A4A4A4;
    button.close-button {
      position: absolute;
      border: none;
      width: 20px;
      height: 20px;
      left: 0px;
      top: 0px;
      font-size: 0.8em;
      background: none;
      @media (min-width: $xsmall-device) {
        font-size: 0.5em;
      }
    }
    p {
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
      margin-top: 3px;
    }
  }
	h1 {
		text-align: center;
		line-height: 50px;
    font-weight: bold;
    font-size: 1.4em;
	}

	.row {
		margin: 0;
	}

	.block-group .col-xs-6 {
		background: rgba(0, 0, 0, 0.9);
    height: 30px;
    width: 45px;
	}

  .block-group .col-xs-6 button {
    width: 45px;
    height: 100%;
    border: none;
    margin-left: -15px;
    background: none;
  }

  .block-group .col-xs-6 button.active {
    background: rgba(255, 226, 0, 0.2);
  }

  .block-group .col-xs-6:nth-child(2) {
    margin-left: 10px;
  }

	.row .col-xs-3:nth-child(2), .row .col-xs-3:nth-child(3), .row .col-xs-3:nth-child(4) {
		margin-left: 10px;
	}

  .color-picker {
    border: none;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 0;
  }

  #background-speed-draggable {
    height: 30px;
    width: 100%;
    position: relative;
    z-index: 995;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    .noUi-handle {
      top: 1px;
      
    }
  }

  #shape-speed-draggable {
    height: 30px;
    width: 100%;
    position: relative;
    z-index: 995;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    .noUi-handle {
      top: 1px;
    }
  }

  #credits {
    a {
      color: rgba(0, 0, 0, 0.6);
    }
  }


}

//----------------
//  Structure
//----------------
#wrapper {
  @include center;
  /*.negative-layer-5 {
    .layer-1 {
      @include center;
      //animation-name: rotate;
      animation-duration: $negative-2-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-5-layer-size;
        height: $negative-5-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-5-layer-size;
        height: $negative-5-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      //animation-name: rotateOpposite;
      animation-duration: $negative-5-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-5-layer-size;
        height: $negative-5-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-5-layer-size;
        height: $negative-5-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
  }
  .negative-layer-4 {
    .layer-1 {
      @include center;
      animation-name: rotate;
      animation-duration: $negative-4-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-4-layer-size;
        height: $negative-4-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-4-layer-size;
        height: $negative-4-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $negative-4-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-4-layer-size;
        height: $negative-4-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-4-layer-size;
        height: $negative-4-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
  }
  .negative-layer-3 {
    .layer-1 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $negative-3-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-3-layer-size;
        height: $negative-3-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-3-layer-size;
        height: $negative-3-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotate;
      animation-duration: $negative-3-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-3-layer-size;
        height: $negative-3-layer-size;
        border: 4px solid white;
        position: absolute;
      }
      .square-2 {
        width: $negative-3-layer-size;
        height: $negative-3-layer-size;
        border: 4px solid white;
        transform: rotate(45deg);
      }
    }
  }*/
  .square-1, .square-2 {
    border: $defaultSettings;
  }
  .negative-layer-2 {
    .layer-1 {
      @include center;
      animation-name: rotate;
      animation-duration: $negative-2-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-2-layer-size;
        height: $negative-2-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $negative-2-layer-size;
        height: $negative-2-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $negative-2-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-2-layer-size;
        height: $negative-2-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $negative-2-layer-size;
        height: $negative-2-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
  .negative-layer-1 {
    .layer-1 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $negative-1-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-1-layer-size;
        height: $negative-1-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $negative-1-layer-size;
        height: $negative-1-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotate;
      animation-duration: $negative-1-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $negative-1-layer-size;
        height: $negative-1-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $negative-1-layer-size;
        height: $negative-1-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
  .zero-layer {
    .layer-1 {
      @include center;
      animation-name: rotate;
      animation-duration: $zero-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $zero-layer-size;
        height: $zero-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $zero-layer-size;
        height: $zero-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $zero-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $zero-layer-size;
        height: $zero-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $zero-layer-size;
        height: $zero-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
  .first-layer {
    .layer-1 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $first-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $first-layer-size;
        height: $first-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $first-layer-size;
        height: $first-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotate;
      animation-duration: $first-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $first-layer-size;
        height: $first-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $first-layer-size;
        height: $first-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
  .second-layer {
    .layer-1 {
      @include center;
      animation-name: rotate;
      animation-duration: $second-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $second-layer-size;
        height: $second-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $second-layer-size;
        height: $second-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $second-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $second-layer-size;
        height: $second-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $second-layer-size;
        height: $second-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
  .third-layer {
    .layer-1 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $third-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $third-layer-size;
        height: $third-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $third-layer-size;
        height: $third-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotate;
      animation-duration: $third-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $third-layer-size;
        height: $third-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $third-layer-size;
        height: $third-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
  .fourth-layer {
    .layer-1 {
      @include center;
      animation-name: rotate;
      animation-duration: $fourth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $fourth-layer-size;
        height: $fourth-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $fourth-layer-size;
        height: $fourth-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $fourth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $fourth-layer-size;
        height: $fourth-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $fourth-layer-size;
        height: $fourth-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
  .fifth-layer {
    .layer-1 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $fifth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $fifth-layer-size;
        height: $fifth-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $fifth-layer-size;
        height: $fifth-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotate;
      animation-duration: $fifth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $fifth-layer-size;
        height: $fifth-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $fifth-layer-size;
        height: $fifth-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
  .sixth-layer {
    .layer-1 {
      @include center;
      animation-name: rotate;
      animation-duration: $sixth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $sixth-layer-size;
        height: $sixth-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $sixth-layer-size;
        height: $sixth-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $sixth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $sixth-layer-size;
        height: $sixth-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $sixth-layer-size;
        height: $sixth-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
  .seventh-layer {
    .layer-1 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $seventh-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $seventh-layer-size;
        height: $seventh-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $seventh-layer-size;
        height: $seventh-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotate;
      animation-duration: $seventh-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $seventh-layer-size;
        height: $seventh-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $seventh-layer-size;
        height: $seventh-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
  .eigth-layer {
    .layer-1 {
      @include center;
      animation-name: rotate;
      animation-duration: $eigth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $eigth-layer-size;
        height: $eigth-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $eigth-layer-size;
        height: $eigth-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
    .layer-2 {
      @include center;
      animation-name: rotateOpposite;
      animation-duration: $eigth-layer-speed;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      .square-1 {
        width: $eigth-layer-size;
        height: $eigth-layer-size;
        border: $appearance;
        position: absolute;
      }
      .square-2 {
        width: $eigth-layer-size;
        height: $eigth-layer-size;
        border: $appearance;
        transform: rotate(45deg);
      }
    }
  }
}


//----------------
//  Animations
//----------------
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateOpposite {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
}


//----------------
//  Miscellaneous
//----------------

#overlay-message {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1001;
  display: none;
  vertical-align: middle;
  p {
    color: rgba(255, 255, 200, 1);
    font-size: 7.5em;
    position: fixed;
    display: block;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: "Noto Sans", sans-serif;
    top: 50%;
    left: 50%;
    @media (max-width: $xsmall-device) {
      font-size: 4em;
    }
  }
}

#overlay-button {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1002;
  pointer-events: none;
}